{% load static %}

<script src="{% static 'main_page/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'main_page/js/jquery-ui.js' %}"></script>
<script src="{% static 'main_page/js/popper.min.js' %}"></script>
<script src="{% static 'main_page/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main_page/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'main_page/js/moment.min.js' %}"></script>
<script src="{% static 'main_page/js/moment-jalaali.js' %}"></script>
<script src="{% static 'main_page/js/daterangepicker-fa-ex.js' %}"></script>
<script src="{% static 'main_page/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main_page/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'main_page/js/jquery.countTo.min.js' %}"></script>
<script src="{% static 'main_page/js/animated-headline.js' %}"></script>
<script src="{% static 'main_page/js/jquery.ripples-min.js' %}"></script>
<script src="{% static 'main_page/js/quantity-input.js' %}"></script>
<script src="{% static 'main_page/js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'main_page/js/superslider-script.js' %}"></script>
<script src="{% static 'main_page/js/main-rtl.js' %}"></script>