{% load static %}

    <link rel="stylesheet" href="{% static 'main_page/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/bootstrap-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/line-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/datepicker-theme.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'main_page/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/style-rtl.css' %}">
