{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}


{% block title %}
    ورود به صفحه کاربری
{% endblock %}

{% block content %}

    <div class="modal-popup">
    <div class="modal fade" id="loginPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <div>
                        <h5 class="modal-title title" id="exampleModalLongTitle2"> ورود</h5>
                        <p class="font-size-14">سلام ! به حسابت خوش اومدی</p>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-close"></span>
                    </button>

                </div>

                <div class="modal-body">

                    <div class="contact-form-action">


                        <form method="post" action="{% url 'login_page' %}">

                            {% csrf_token %}

                            <div class="input-box">
                                <label class="label-text">ایمیل</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>

                                    <input class="form-control" type="text" name="text" placeholder="ایمیلت رو وارد کن">
                                </div>
                            </div><!-- end input-box -->


                            <div class="input-box">
                                <label class="label-text">رمز عبور</label>
                                <div class="form-group mb-2">
                                    <span class="la la-lock form-icon"></span>

                                    <input class="form-control" type="text" name="text" placeholder="رمزعبورت رو وارد کن">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="custom-checkbox mb-0">
                                        <input type="checkbox" id="rememberchb">
                                        <label for="rememberchb">منو یادت باشه</label>
                                    </div>
                                    <p class="forgot-password">
                                        <a href="{% url 'forget_password_page' %}">رمزت رو فراموش کردی ؟</a>
                                    </p>
                                </div>
                            </div><!-- end input-box -->


                            <div class="btn-box pt-3 pb-4">
                                <button type="button" class="theme-btn w-100">ورود</button>
                            </div>

                            <div class="action-box text-center">
                                <p class="font-size-14">یا با حساب های زیر وارد شو</p>
                                <ul class="social-profile py-3">
                                    <li><a href="#" class="bg-5 text-white"><i class="lab la-facebook-f"></i></a></li>
                                    <li><a href="#" class="bg-6 text-white"><i class="lab la-twitter"></i></a></li>
                                    <li><a href="#" class="bg-7 text-white"><i class="lab la-instagram"></i></a></li>
                                    <li><a href="#" class="bg-5 text-white"><i class="lab la-linkedin-in"></i></a></li>
                                </ul>
                            </div>

                        </form>


                    </div><!-- end contact-form-action -->

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}











