{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}


{% block title %}
    بازیابی رمز عبور
{% endblock %}

{% block content %}

<section class="contact-area padding-top-100px padding-bottom-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">

                <div class="alert-success" role="alert" id="message">

                </div>
                <br>

                <div class="form-box">
                    <div class="form-title-wrap">
                        <h3 class="title">بازیابی رمز عبور</h3>
                        <p class="font-size-15 pt-2">برای بازنشانی رمز عبور ایمیلت رو وارد کن  سپس لینکی برای بازنشانی رمز عبور به ایمیات ارسال میشه . اگه بازم  مشکلی در مورد بازنشانی رمز عبور داشتی با ما
                            <a href="contact.html" class="text-color"> تماس </a> بگیر .
                        </p>
                    </div><!-- form-title-wrap -->
                    <div class="form-content ">
                        <div class="contact-form-action">


                            <form method="post" action="{% url 'recovery_password_page' %}" id="recovery-form">

                                {% csrf_token %}

                                <div class="input-box">

                                    <label class="label-text">ایمیل شما</label>

                                    <div class="form-group">
                                        <span class="la la-envelope-o form-icon"></span>
                                        {{ recovery_pass_form.email }}

{#                                        <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل رو وارد کن">#}
                                    </div>

                                </div>


                                <div class="btn-box">
                                    <button type="submit" class="theme-btn">تنظیم مجدد رمز عبور</button>
                                </div>

                            </form>


                        </div><!-- end contact-form-action -->
                    </div><!-- end form-content -->
                </div><!-- end form-box -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>







<script>
    const form = document.querySelector('#recovery-form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form);
        const response = await fetch(form.action, {
            method: 'POST',
            body: formData
        });

        const result = await response.json();
        const messageContainer = document.querySelector('#message');
        const message = result.message;
        messageContainer.textContent = message;
    });
</script>



{% endblock %}











